<%- include('./_guest-header', {title:'About'}) %>
  <h1>About</h1>
  <p>Version : <%=version %></p>
  <h2>Release Note</h2>
  <h3>0.19.0</h3>
  <ul>
    <li>Support MaterialUIPicker</li>
  </ul>
<%- include('./_guest-footer') %>
