<%- include('./_guest-header', {title:'About'}) %>
  <h1>About</h1>
  <p>Version : <%=version %></p>
  <hr />
  <h2>No SSR Sample</h2>
  <div id="app"</div>
  <script type="text/javascript" charset="utf-8" src="/js/redux-sample.js"></script>
<%- include('./_footer') %>
