<%- include('./_guest-header', { title:'Login' }) %>
<div class="container">
  <form class="form-signin" action="/member/login" method="post">
    <h2 class="form-signin-heading">Please sign in with Admin account</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="userid" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <label><%= message %></label>
  </form>

</div> <!-- /container -->
<%- include('./_guest-footer') %>
