<%- include('./_member-header', { title:'Home' }) %>
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Login success. Express user id sample : <%- userid %></p>
    <div id="app"></div>
  </div>
  <script type="text/javascript" charset="utf-8" src="/js/auth-sample.js?ver=<%- jsDate %>"></script>
</body>
<%- include('./_footer') %>
