<%- include('./_guest-header', { title:'React' }) %>
  <h1>Hello React!</h1>
  <div id="app"><%- markup %></div>
  <script>
    window.__PRELOADED_STATE__ = <%- initialState %>;
  </script>
  <script type="text/javascript" charset="utf-8" src="/js/guest.js"></script>
<%- include('./_guest-footer') %>
